Repository ln-dev7/circle, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Gateway, Packages, Infrastructure, Config, Docs, Tests, Dependencies, Migration, Event, Scheduler, Subscriber, Schema, Security, CICD, Scripts, UI/UX, Features, Services, GraphQL, Hooks, Components, Views, Stores, Storybook, account, buy-rates, client-settlements, export-matrix, global-modal, integration, maintenance, manage-subscription, matrix, sell-rates, subscription

.github/labeler.yml:

# =====================
# üìç Scope Labels
# =====================

API:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/api/**'

Gateway:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/gateway/**'

Packages:
- changed-files:
  - any-glob-to-any-file:
    - 'packages/**'

Infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'infra/**'

Config:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.config.*'
    - '**/*.env'
    - 'apps/**/config/**'

Docs:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'
    - '**/*.md'
    - 'README.md'

Tests:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.spec.ts'
    - '**/__tests__/**'

Dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'yarn.lock'

# =====================
# üéØ Change Type Labels
# =====================

Feature:
- head-branch:
  - '^feat'
  - '.*feature.*'

Fix:
- head-branch:
  - '^fix'
  - '.*bug.*'

Refactor:
- head-branch:
  - '^refactor'
  - '.*refactor.*'

Chore:
- head-branch:
  - '^chore'
  - '.*chore.*'

# =====================
# üö® Risk / Deployment Labels
# =====================

Migration:
- changed-files:
  - any-glob-to-any-file:
    - '**/migrations/**'
    - '**/migrate.ts'
    - '**/*.migration.ts'

Event:
- changed-files:
  - any-glob-to-any-file:
    - '**/events/**'
    - '**/*.event.ts'

Scheduler:
- changed-files:
  - any-glob-to-any-file:
    - '**/schedulers/**'
    - '**/*.scheduler.ts'

Subscriber:
- changed-files:
  - any-glob-to-any-file:
    - '**/subscribers/**'
    - '**/*.subscriber.ts'

Schema:
- changed-files:
  - any-glob-to-any-file:
    - '**/schemas/**'
    - '**/*.schema.ts'

Security:
- changed-files:
  - any-glob-to-any-file:
    - '**/auth/**'
    - '**/guard/**'
    - '**/authz/**'

Breaking:
- changed-files:
  - any-glob-to-any-file:
    - 'BREAKING_CHANGE.md'
- head-branch:
  - '.*breaking.*'
  - '^breaking'

# =====================
# ‚≠ê Feature Labels
# =====================

CICD:
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'

Scripts:
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'

UI/UX:
- changed-files:
  - any-glob-to-any-file:
    - 'packages/ui/**'

Features:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/**'

Services:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/services/**'

GraphQL:
- changed-files:
  - any-glob-to-any-file:
    - '**/graphql/**'

Hooks:
- changed-files:
  - any-glob-to-any-file:
    - '**/hooks/**'

Components:
- changed-files:
  - any-glob-to-any-file:
    - '**/components/**'

Views:
- changed-files:
  - any-glob-to-any-file:
    - '**/views/**'

Stores:
- changed-files:
  - any-glob-to-any-file:
    - '**/stores/**'

Storybook:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.stories.ts'
    - '**/*.stories.tsx'

account:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/account/**'

buy-rates:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/buy-rates/**'

client-settlements:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/client-settlements/**'

export-matrix:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/export-matrix/**'

global-modal:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/global-modal/**'

integration:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/integration/**'

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/maintenance/**'

manage-subscription:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/manage-subscription/**'

matrix:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/matrix/**'

sell-rates:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/sell-rates/**'

subscription:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/subscription/**'

# =====================
# üîÅ Git Flow Labels
# =====================

MergeBack:
- head-branch:
  - '^sync'
  - 'sync-.*'
  - 'merge-.*'

Release:
- base-branch:
  - '^master$'

WIP:
- head-branch:
  - '^wip'
  - '.*wip.*'

Beta:
- head-branch:
  - '.*-beta.*'

# =====================
# üß™ Catch-All
# =====================

feat: setup next backend with swagger and prisma
  app/api-doc/page.tsx
  app/api/hello/route.ts
  app/generated/prisma/client.d.ts
  app/generated/prisma/client.js
  app/generated/prisma/default.d.ts
  app/generated/prisma/default.js
  app/generated/prisma/edge.d.ts
  app/generated/prisma/edge.js
  app/generated/prisma/index-browser.js
  app/generated/prisma/index.d.ts
  app/generated/prisma/index.js
  app/generated/prisma/package.json
  app/generated/prisma/runtime/edge-esm.js
  app/generated/prisma/runtime/edge.js
  app/generated/prisma/runtime/index-browser.d.ts
  app/generated/prisma/runtime/index-browser.js
  app/generated/prisma/runtime/library.d.ts
  app/generated/prisma/runtime/library.js
  app/generated/prisma/runtime/react-native.js
  app/generated/prisma/runtime/wasm-compiler-edge.js
  app/generated/prisma/runtime/wasm-engine-edge.js
  app/generated/prisma/schema.prisma
  app/generated/prisma/wasm.d.ts
  app/generated/prisma/wasm.js
  components/common/swagger/react-swagger.tsx
  lib/exceptions/base.exception.ts
  lib/exceptions/http.exception.ts
  lib/prisma.ts
  lib/swagger.ts
  lib/types/api-response.types.ts
  lib/utils/api-response.util.ts
  lib/utils/async-handler.util.ts
  lib/utils/validations.util.ts
  package.json
  pnpm-lock.yaml
  prisma/migrations/20250729112946_init/migration.sql
  prisma/migrations/20250729211140_update_prisma_schema/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
Labels: Dependencies, Migration, Components

feat: extend eslint config to highlight errors in code
  app/api/hello/route.ts
  components/common/swagger/react-swagger.tsx
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Labels: Config, Dependencies, Components

feat(server): add initial sqlite schema and zod models
  package.json
  pnpm-lock.yaml
  server/src/db/drizzle.ts
  server/src/db/schema.ts
  server/src/domain/zod.ts
Labels: Dependencies

Removed all task management features; now only inbox page
  README.md
  app/[orgId]/members/page.tsx
  app/[orgId]/page.tsx
  app/[orgId]/projects/page.tsx
  app/[orgId]/settings/page.tsx
  app/[orgId]/team/[teamId]/all/page.tsx
  app/[orgId]/teams/page.tsx
  app/page.tsx
  components/common/issues/all-issues.tsx
  components/common/issues/assignee-user.tsx
  components/common/issues/create-issue-modal-provider.tsx
  components/common/issues/group-issues.tsx
  components/common/issues/issue-context-menu.tsx
  components/common/issues/issue-grid.tsx
  components/common/issues/issue-line.tsx
  components/common/issues/label-badge.tsx
  components/common/issues/priority-selector.tsx
  components/common/issues/project-badge.tsx
  components/common/issues/search-issues.tsx
  components/layout/main-layout.tsx
  components/layout/sidebar/app-sidebar.tsx
  components/layout/sidebar/back-to-app.tsx
  components/layout/sidebar/create-new-issue/assignee-selector.tsx
  components/layout/sidebar/create-new-issue/index.tsx
  components/layout/sidebar/create-new-issue/label-selector.tsx
  components/layout/sidebar/create-new-issue/priority-selector.tsx
  components/layout/sidebar/create-new-issue/status-selector.tsx
  components/layout/sidebar/nav-account.tsx
  components/layout/sidebar/nav-features.tsx
  components/layout/sidebar/nav-teams-settings.tsx
  components/layout/sidebar/nav-teams.tsx
  components/layout/sidebar/nav-workspace.tsx
  components/layout/sidebar/org-switcher.tsx
Labels: Docs, Components

feat: add member filtering store with role management and sorting
  store/members-filter-store.ts
Labels: none

feat: add a filter component for role management and sorting in the member interface
  components/layout/headers/members/filter.tsx
  components/layout/headers/members/header-options.tsx
Labels: Components

feat: implement role-based filtering and sorting in members list
  components/common/members/members.tsx
Labels: Components

feat: add a filter store for projects with filter management and sorting
  store/projects-filter-store.ts
Labels: none

feat: add a filter component for project management
  components/layout/headers/projects/filter.tsx
  components/layout/headers/projects/header-options.tsx
Labels: Components

feat: implement filtering and sorting for project list
  components/common/projects/projects.tsx
Labels: Components

feat: add filtering and sorting functionality for teams
  components/common/teams/teams.tsx
  components/layout/headers/teams/filter.tsx
  components/layout/headers/teams/header-options.tsx
  store/team-filter-store.ts
Labels: Components

fix: remove unused ListFilter import in header options
  components/layout/headers/teams/header-options.tsx
Labels: Components

update FUNDING.yml
  .github/FUNDING.yml
Labels: CICD

fix: update help button link to new support project URL
  components/layout/sidebar/help-button.tsx
Labels: Components

feat: add persistence to view store using zustand middleware
  store/view-store.ts
Labels: none

fix: remove ScrollArea component dependency
  components/layout/headers/gym-equipment/filter.tsx
  components/layout/headers/gym-trainers/filter.tsx
Labels: Components

fix: remove unused imports to pass linting
  components/common/gym-trainers/gym-trainer-card.tsx
  components/layout/headers/gym-members/sort.tsx
Labels: Components

fix: adjust dialog overlay background opacity for improved visibility
  components/ui/dialog.tsx
Labels: Components

chore: update dependencies to latest versions including React 19.0.1 and Next.js 15.2.6
  package.json
  pnpm-lock.yaml
Labels: Dependencies

Fix React Server Components CVE vulnerabilities
  package.json
  pnpm-lock.yaml
Labels: Dependencies

docs: update README and sidebar to include BaseUI code link to Square UI Pro
  README.md
  components/layout/sidebar/app-sidebar.tsx
Labels: Docs, Components

Add list view drag-and-drop for issues
  components/common/issues/all-issues.tsx
  components/common/issues/group-issues.tsx
  components/common/issues/issue-line.tsx
  mock-data/issues.ts
  store/issues-store.ts
Labels: Components

Add list view issue dragging with column drop and landing overlay
  components/common/issues/all-issues.tsx
  components/common/issues/group-issues.tsx
  components/common/issues/issue-drop-landing-overlay.tsx
  components/common/issues/issue-grid.tsx
  components/common/issues/issue-line.tsx
  components/common/issues/search-issues.tsx
  store/issue-drop-landing-store.ts
Labels: Components

chore: update chariow shop domain to lndev.mychariow.shop
  .github/FUNDING.yml
  components/layout/sidebar/help-button.tsx
Labels: CICD, Components

feat(cycles): cycles timeline page with burn-up chart and sidebar links
  app/[orgId]/team/[teamId]/cycles/page.tsx
  components/common/cycles/capacity-ring.tsx
  components/common/cycles/cycle-burnup-chart.tsx
  components/common/cycles/cycle-line.tsx
  components/common/cycles/cycles.tsx
  components/layout/headers/cycles/header-nav.tsx
  components/layout/headers/cycles/header.tsx
  components/layout/sidebar/nav-teams.tsx
Labels: Components

feat(mock-data): 13-status categorized workflow, cycles with burn-up data, ~90 issues, team documents
  mock-data/cycles.ts
  mock-data/documents.ts
  mock-data/issues.ts
  mock-data/status.tsx
Labels: none

feat(cycles): active and upcoming cycle views with details and insights panels
  app/[orgId]/team/[teamId]/cycle/active/page.tsx
  app/[orgId]/team/[teamId]/cycle/upcoming/page.tsx
  components/common/cycles/cycle-details-panel.tsx
  components/common/issues/cycle-issues.tsx
  components/common/issues/insights-panel.tsx
  components/layout/headers/cycle/header-nav.tsx
  components/layout/headers/cycle/header-options.tsx
  components/layout/headers/cycle/header.tsx
  store/right-panel-store.ts
Labels: Components

feat(teams): team home with overview, documents and members tabs
  app/[orgId]/team/[teamId]/documents/page.tsx
  app/[orgId]/team/[teamId]/members/page.tsx
  app/[orgId]/team/[teamId]/overview/page.tsx
  components/common/teams/team-documents.tsx
  components/common/teams/team-members.tsx
  components/common/teams/team-overview.tsx
  components/layout/headers/team/header-nav.tsx
  components/layout/headers/team/header-tabs.tsx
  components/layout/headers/team/header.tsx
Labels: Components

feat(issues): Active/Backlog/All tabs with category-driven views
  app/[orgId]/team/[teamId]/active/page.tsx
  app/[orgId]/team/[teamId]/backlog/page.tsx
  components/common/issues/all-issues.tsx
  components/common/issues/grouped-issues-view.tsx
  components/layout/headers/issues/header-nav.tsx
Labels: Components

feat(filters): URL-synced filters with nuqs, plus cycle and status-type filters
  app/layout.tsx
  components/layout/headers/issues/filter.tsx
  package.json
  pnpm-lock.yaml
  store/filter-store.ts
  store/issues-store.ts
  store/members-filter-store.ts
  store/projects-filter-store.ts
  store/team-filter-store.ts
Labels: Dependencies, Components

feat(issues): display options — grouping, ordering and display properties
  components/common/issues/group-issues.tsx
  components/common/issues/issue-grid.tsx
  components/common/issues/issue-line.tsx
  components/layout/headers/display-options.tsx
  components/layout/headers/issues/header-options.tsx
  store/display-settings-store.ts
Labels: Components

feat(issues): issue detail page with rich content, activity feed and properties
  app/[orgId]/issue/[issueId]/page.tsx
  components/common/issues/details/activity-feed.tsx
  components/common/issues/details/content-blocks.tsx
  components/common/issues/details/issue-details.tsx
  components/common/issues/details/issue-properties-panel.tsx
  components/layout/headers/issue/header-nav.tsx
  components/layout/headers/issue/header.tsx
  mock-data/issue-details.ts
Labels: Components

docs: add AI guide and llms.txt
  AI_GUIDE.md
  llms.txt
Labels: Docs

chore: update Square UI Pro template link
  README.md
  components/layout/sidebar/app-sidebar.tsx
Labels: Docs, Components

feat(filters): vendor bazza/ui data-table-filter component
  components/data-table-filter/components/active-filters.tsx
  components/data-table-filter/components/data-table-filter.tsx
  components/data-table-filter/components/filter-actions.tsx
  components/data-table-filter/components/filter-operator.tsx
  components/data-table-filter/components/filter-selector.tsx
  components/data-table-filter/components/filter-subject.tsx
  components/data-table-filter/components/filter-value.tsx
  components/data-table-filter/core/filters.ts
  components/data-table-filter/core/operators.ts
  components/data-table-filter/core/types.ts
  components/data-table-filter/hooks/use-data-table-filters.tsx
  components/data-table-filter/hooks/use-debounce-callback.tsx
  components/data-table-filter/hooks/use-unmount.tsx
  components/data-table-filter/index.tsx
  components/data-table-filter/lib/array.ts
  components/data-table-filter/lib/debounce.ts
  components/data-table-filter/lib/filter-fns.ts
  components/data-table-filter/lib/helpers.ts
  components/data-table-filter/lib/i18n.ts
  components/data-table-filter/lib/memo.ts
  components/data-table-filter/locales/en.json
  components/data-table-filter/ui/debounced-input.tsx
  components/ui/slider.tsx
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Labels: Config, Dependencies, Hooks, Components

docs: document the new filter architecture
  AI_GUIDE.md
  llms.txt
Labels: Docs

fix: suppress hydration warning caused by browser extensions
  app/layout.tsx
Labels: none

feat(filters): Linear-style filter bar with operators and URL state
  components/common/issues/all-issues.tsx
  components/common/issues/cycle-issues.tsx
  components/common/issues/issue-filter-bar.tsx
  components/common/issues/issue-filter-columns.tsx
  components/layout/headers/cycle/header-options.tsx
  components/layout/headers/issues/filter.tsx
  components/layout/headers/issues/header-options.tsx
  store/filter-store.ts
Labels: Components

fix: responsive polish for inbox, cycles timeline and team documents
  components/common/cycles/cycle-line.tsx
  components/common/cycles/cycles.tsx
  components/common/inbox/inbox.tsx
  components/common/teams/team-documents.tsx
Labels: Components

feat(inbox): preview the real issue behind each notification
  components/common/inbox/issue-preview.tsx
  mock-data/inbox.ts
Labels: Components
