Repository ln-dev7/circle, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Gateway, Packages, Infrastructure, Config, Docs, Tests, Dependencies, Migration, Event, Scheduler, Subscriber, Schema, Security, CICD, Scripts, UI/UX, Features, Services, GraphQL, Hooks, Components, Views, Stores, Storybook, account, buy-rates, client-settlements, export-matrix, global-modal, integration, maintenance, manage-subscription, matrix, sell-rates, subscription

customize sidebar: drag and drop reordering via the grip handles
  AI_GUIDE.md
  components/layout/sidebar/customize-sidebar-dialog.tsx
  components/layout/sidebar/nav-inbox.tsx
  components/layout/sidebar/nav-workspace.tsx
  llms.txt
  store/sidebar-prefs-store.ts
Labels: Docs, Components

add the reviews feature (for you / created lists, overview, guide and diff pages)
  AI_GUIDE.md
  app/[orgId]/review/[reviewId]/changes/page.tsx
  app/[orgId]/review/[reviewId]/page.tsx
  app/[orgId]/review/[reviewId]/review/page.tsx
  app/[orgId]/reviews/created/page.tsx
  app/[orgId]/reviews/page.tsx
  components/common/reviews/diff-view.tsx
  components/common/reviews/review-detail.tsx
  components/common/reviews/review-diff.tsx
  components/common/reviews/review-guide.tsx
  components/common/reviews/review-overview.tsx
  components/common/reviews/review-shared.tsx
  components/common/reviews/reviews.tsx
  components/layout/sidebar/customize-sidebar-dialog.tsx
  components/layout/sidebar/nav-inbox.tsx
  llms.txt
  mock-data/reviews.ts
  mock-data/side-bar-nav.ts
  store/sidebar-prefs-store.ts
Labels: Docs, Components

add the my issues page (assigned, created, subscribed and activity tabs)
  AI_GUIDE.md
  app/[orgId]/my-issues/page.tsx
  components/common/my-issues/my-issues.tsx
  components/layout/headers/my-issues/header.tsx
  llms.txt
  mock-data/side-bar-nav.ts
Labels: Docs, Components

sidebar prefs: show newly added items by default for existing stored prefs
  components/layout/sidebar/customize-sidebar-dialog.tsx
  store/sidebar-prefs-store.ts
Labels: Components

my issues and team projects reuse the full issue and project view machinery
  app/[orgId]/my-issues/page.tsx
  components/common/my-issues/my-issues.tsx
  components/common/my-issues/use-my-issues.ts
  components/common/projects/projects.tsx
  components/common/teams/team-projects.tsx
  components/layout/headers/my-issues/header.tsx
Labels: Components

my issues: labels, priority, projects and teams breakdown side panel
  components/common/my-issues/breakdown-panel.tsx
  components/common/my-issues/my-issues.tsx
  components/layout/headers/my-issues/header.tsx
  store/right-panel-store.ts
Labels: Components

add the cmd+k command palette (issue actions, copy commands, navigation)
  components/layout/command-palette.tsx
  components/layout/main-layout.tsx
Labels: Components

command palette: drop the dialog close button
  components/layout/command-palette.tsx
  components/ui/dialog.tsx
Labels: Components

member profile reuses the full issue view machinery (filters, display, board, insights)
  components/common/members/member-profile.tsx
  components/layout/headers/profile/header.tsx
Labels: Components

project overview: document outline rail with hover navigation panel
  components/common/issues/details/content-blocks.tsx
  components/common/projects/details/document-outline.tsx
  components/common/projects/details/project-overview.tsx
  mock-data/issue-details.ts
  mock-data/project-details.ts
Labels: Components

reviews: 20 new for-you mock reviews (open/merged/closed) with collapsible status groups
  components/common/reviews/review-overview.tsx
  components/common/reviews/review-shared.tsx
  components/common/reviews/reviews.tsx
  mock-data/reviews.ts
Labels: Components

docs: point the star history chart to a working data source
  README.md
Labels: Docs

triage: team intake queue with accept/decline and a Triage Intelligence card
  app/[orgId]/team/[teamId]/triage/page.tsx
  components/common/triage/triage-details.tsx
  components/common/triage/triage.tsx
  components/layout/headers/triage/header.tsx
  mock-data/triage.ts
  store/triage-store.ts
Labels: Components

AI guide: document the triage surface and initiative scoping
  AI_GUIDE.md
Labels: Docs

initiatives: team-level page, lead team column, canceled status, timeline rail
  app/[orgId]/team/[teamId]/initiatives/page.tsx
  components/common/initiatives/initiative-details.tsx
  components/common/initiatives/initiative-status-icon.tsx
  components/common/initiatives/initiatives.tsx
  components/layout/headers/team-initiatives/header.tsx
  components/layout/sidebar/nav-teams.tsx
  mock-data/initiatives.ts
  store/initiatives-display-store.ts
Labels: Components

mock data: a fuller intake queue (30 items, six teams) and initiative portfolio (28)
  mock-data/initiatives.ts
  mock-data/triage.ts
Labels: none

mock data: seed-based expansion — 75 triage reports and 58 initiatives
  mock-data/initiatives.ts
  mock-data/triage.ts
Labels: none

LNUI-1000: a fully loaded showcase issue for screenshots
  mock-data/issue-details.ts
  mock-data/issues.ts
Labels: none

.github/labeler.yml:

# =====================
# üìç Scope Labels
# =====================

API:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/api/**'

Gateway:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/gateway/**'

Packages:
- changed-files:
  - any-glob-to-any-file:
    - 'packages/**'

Infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'infra/**'

Config:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.config.*'
    - '**/*.env'
    - 'apps/**/config/**'

Docs:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'
    - '**/*.md'
    - 'README.md'

Tests:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.spec.ts'
    - '**/__tests__/**'

Dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'yarn.lock'

# =====================
# üéØ Change Type Labels
# =====================

Feature:
- head-branch:
  - '^feat'
  - '.*feature.*'

Fix:
- head-branch:
  - '^fix'
  - '.*bug.*'

Refactor:
- head-branch:
  - '^refactor'
  - '.*refactor.*'

Chore:
- head-branch:
  - '^chore'
  - '.*chore.*'

# =====================
# üö® Risk / Deployment Labels
# =====================

Migration:
- changed-files:
  - any-glob-to-any-file:
    - '**/migrations/**'
    - '**/migrate.ts'
    - '**/*.migration.ts'

Event:
- changed-files:
  - any-glob-to-any-file:
    - '**/events/**'
    - '**/*.event.ts'

Scheduler:
- changed-files:
  - any-glob-to-any-file:
    - '**/schedulers/**'
    - '**/*.scheduler.ts'

Subscriber:
- changed-files:
  - any-glob-to-any-file:
    - '**/subscribers/**'
    - '**/*.subscriber.ts'

Schema:
- changed-files:
  - any-glob-to-any-file:
    - '**/schemas/**'
    - '**/*.schema.ts'

Security:
- changed-files:
  - any-glob-to-any-file:
    - '**/auth/**'
    - '**/guard/**'
    - '**/authz/**'

Breaking:
- changed-files:
  - any-glob-to-any-file:
    - 'BREAKING_CHANGE.md'
- head-branch:
  - '.*breaking.*'
  - '^breaking'

# =====================
# ‚≠ê Feature Labels
# =====================

CICD:
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'

Scripts:
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'

UI/UX:
- changed-files:
  - any-glob-to-any-file:
    - 'packages/ui/**'

Features:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/**'

Services:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/services/**'

GraphQL:
- changed-files:
  - any-glob-to-any-file:
    - '**/graphql/**'

Hooks:
- changed-files:
  - any-glob-to-any-file:
    - '**/hooks/**'

Components:
- changed-files:
  - any-glob-to-any-file:
    - '**/components/**'

Views:
- changed-files:
  - any-glob-to-any-file:
    - '**/views/**'

Stores:
- changed-files:
  - any-glob-to-any-file:
    - '**/stores/**'

Storybook:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.stories.ts'
    - '**/*.stories.tsx'

account:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/account/**'

buy-rates:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/buy-rates/**'

client-settlements:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/client-settlements/**'

export-matrix:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/export-matrix/**'

global-modal:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/global-modal/**'

integration:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/integration/**'

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/maintenance/**'

manage-subscription:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/manage-subscription/**'

matrix:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/matrix/**'

sell-rates:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/sell-rates/**'

subscription:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/subscription/**'

# =====================
# üîÅ Git Flow Labels
# =====================

MergeBack:
- head-branch:
  - '^sync'
  - 'sync-.*'
  - 'merge-.*'

Release:
- base-branch:
  - '^master$'

WIP:
- head-branch:
  - '^wip'
  - '.*wip.*'

Beta:
- head-branch:
  - '.*-beta.*'

# =====================
# üß™ Catch-All
# =====================
