Repository ln-dev7/circle, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Gateway, Packages, Infrastructure, Config, Docs, Tests, Dependencies, Migration, Event, Scheduler, Subscriber, Schema, Security, CICD, Scripts, UI/UX, Features, Services, GraphQL, Hooks, Components, Views, Stores, Storybook, account, buy-rates, client-settlements, export-matrix, global-modal, integration, maintenance, manage-subscription, matrix, sell-rates, subscription

Add hidden-by-filters footer and board hidden columns view
  components/common/issues/all-issues.tsx
  components/common/issues/cycle-issues.tsx
  components/common/issues/grouped-issues-view.tsx
Labels: Components

Add exclusive click-to-filter on the insights and cycle details panels
  components/common/cycles/cycle-details-panel.tsx
  components/common/issues/insights-panel.tsx
  components/common/issues/use-panel-filter.ts
Labels: Components

Move the filter button into the header toolbar, show the filter chips row only when filters are active
  components/common/issues/issue-filter-bar.tsx
  components/common/issues/issue-filter-trigger.tsx
  components/layout/headers/cycle/header-options.tsx
  components/layout/headers/issues/header-options.tsx
Labels: Components

Triple the mock issues to 291 unique entries and sync cycle stats
  mock-data/cycles.ts
  mock-data/issues.ts
Labels: none

Fix filter checkboxes and link contrast in light mode
  components/common/issues/insights-panel.tsx
  components/data-table-filter/components/filter-selector.tsx
  components/data-table-filter/components/filter-value.tsx
  components/layout/headers/display-options.tsx
Labels: Components

Use a solid violet background with a white check for checked checkboxes
  components/data-table-filter/components/filter-selector.tsx
  components/data-table-filter/components/filter-value.tsx
  components/ui/checkbox.tsx
Labels: Components

Force a pure white check icon so command items cannot gray it out
  components/ui/checkbox.tsx
Labels: Components

extend mock data: richer projects, user timezones, project details
  mock-data/issues.ts
  mock-data/project-details.ts
  mock-data/projects.ts
  mock-data/users.ts
Labels: none

add project detail pages with properties panel and progress chart
  app/[orgId]/project/[projectId]/activity/page.tsx
  app/[orgId]/project/[projectId]/issues/page.tsx
  app/[orgId]/project/[projectId]/overview/page.tsx
  components/common/projects/details/project-activity.tsx
  components/common/projects/details/project-issues.tsx
  components/common/projects/details/project-overview.tsx
  components/common/projects/details/project-progress-chart.tsx
  components/common/projects/details/project-properties-panel.tsx
  components/common/projects/details/project-side-panel.tsx
  components/layout/headers/project/header.tsx
  store/project-updates-store.ts
  store/right-panel-store.ts
Labels: Components

add member profile page
  app/[orgId]/profiles/[memberId]/page.tsx
  components/common/members/member-profile.tsx
  components/layout/headers/profile/header.tsx
Labels: Components

revamp projects page: list, board and infinite timeline views with display options
  app/[orgId]/projects/page.tsx
  components/common/projects/project-line.tsx
  components/common/projects/projects-board.tsx
  components/common/projects/projects-display-options.tsx
  components/common/projects/projects-insights-panel.tsx
  components/common/projects/projects-list.tsx
  components/common/projects/projects-timeline.tsx
  components/common/projects/projects.tsx
  components/layout/headers/projects/header.tsx
  store/projects-display-store.ts
Labels: Components

add agent chat page
  app/[orgId]/agent/page.tsx
  components/common/agent/agent-chat.tsx
  components/layout/headers/agent/header.tsx
  mock-data/agent.ts
  mock-data/side-bar-nav.ts
  store/agent-chat-store.ts
Labels: Components

update AI guide and llms.txt for new pages
  AI_GUIDE.md
  llms.txt
Labels: Docs

revamp teams and members pages with display options
  app/[orgId]/teams/page.tsx
  components/common/members/member-line.tsx
  components/common/members/members.tsx
  components/common/teams/team-line.tsx
  components/common/teams/teams-display-options.tsx
  components/common/teams/teams.tsx
  components/layout/headers/teams/header.tsx
  store/teams-display-store.ts
Labels: Components

apply filters and insights click-to-filter on the project issues tab
  components/common/projects/details/project-issues.tsx
  components/common/projects/details/project-side-panel.tsx
Labels: Components

timeline: zoom dropdown with shortcuts, pinned out-of-view indicators, project peek panel
  components/common/projects/project-peek-panel.tsx
  components/common/projects/projects-timeline.tsx
Labels: Components

revamp members page: email display names, application role, online-only last seen
  components/common/members/member-line.tsx
  components/common/members/members.tsx
  components/layout/headers/members/filter.tsx
  mock-data/users.ts
  store/members-filter-store.ts
Labels: Components

use an opaque group header background on the projects list
  components/common/projects/projects-list.tsx
Labels: Components

timeline: run the today line under project bars with a tick on the scale
  components/common/projects/projects-timeline.tsx
Labels: Components

make the project properties breakdowns filter issues on click
  components/common/issues/use-panel-filter.ts
  components/common/projects/details/project-properties-panel.tsx
Labels: Components

peek panel: link the title with the arrow and close with an x
  components/common/projects/project-peek-panel.tsx
Labels: Components

timeline: restore the today marker and hide it while it overlaps the project list
  components/common/projects/projects-timeline.tsx
Labels: Components

timeline: pin the today pill to the sticky month scale
  components/common/projects/projects-timeline.tsx
Labels: Components

timeline: detailed scale with date labels, weekly ticks and a today date pill
  components/common/projects/projects-timeline.tsx
Labels: Components

add personal settings pages: notifications, code and reviews, security, accounts, agent
  app/[orgId]/settings/agent-personalization/page.tsx
  app/[orgId]/settings/code-and-reviews/page.tsx
  app/[orgId]/settings/connected-accounts/page.tsx
  app/[orgId]/settings/notifications/page.tsx
  app/[orgId]/settings/security/page.tsx
  components/common/settings/account-code-reviews.tsx
  components/common/settings/account-connections.tsx
  components/common/settings/account-notifications.tsx
  components/common/settings/account-security.tsx
  components/common/settings/agent-personalization.tsx
  components/common/settings/shared.tsx
  components/layout/sidebar/app-sidebar.tsx
  components/layout/sidebar/nav-settings.tsx
  components/layout/sidebar/nav-teams-settings.tsx
Labels: Components

add workspace settings pages: labels, templates, project statuses, ai and team settings
  app/[orgId]/settings/ai/page.tsx
  app/[orgId]/settings/issue-labels/page.tsx
  app/[orgId]/settings/issue-templates/page.tsx
  app/[orgId]/settings/project-statuses/page.tsx
  app/[orgId]/settings/teams/[teamId]/page.tsx
  app/[orgId]/settings/teams/new/page.tsx
  components/common/settings/ai-agents.tsx
  components/common/settings/issue-labels-settings.tsx
  components/common/settings/issue-templates-settings.tsx
  components/common/settings/new-team.tsx
  components/common/settings/project-statuses-settings.tsx
  components/common/settings/team-settings.tsx
Labels: Components

document the settings area in the AI guide and llms.txt
  AI_GUIDE.md
  llms.txt
Labels: Docs

add preferences and profile settings pages with a working theme selector
  app/[orgId]/settings/preferences/page.tsx
  app/[orgId]/settings/profile/page.tsx
  components/common/settings/preferences.tsx
  components/common/settings/profile.tsx
  components/common/settings/shared.tsx
  components/layout/sidebar/nav-settings.tsx
Labels: Components

add a functional linear-style theme system: variants, custom theme and clipboard sharing
  AI_GUIDE.md
  app/globals.css
  components/common/settings/preferences.tsx
  components/common/settings/theme-preferences.tsx
  components/layout/theme-applier.tsx
  components/layout/theme-provider.tsx
  store/theme-store.ts
Labels: Docs, Components

redirect /settings to the preferences page and drop the old overview
  app/[orgId]/settings/page.tsx
  components/common/settings/settings.tsx
Labels: Components

distinguish the light theme (soft gray frame) from pure light
  app/globals.css
Labels: none

default the light appearance to pure light
  store/theme-store.ts
Labels: none

theme switcher: light and dark submenus wired to the theme variants
  components/layout/theme-toggle.tsx
Labels: Components

add the integrations settings page
  app/[orgId]/settings/integrations/page.tsx
  components/common/settings/integrations-data.ts
  components/common/settings/integrations.tsx
Labels: Components

add placeholder pages for settings sections without a dedicated UI
  AI_GUIDE.md
  app/[orgId]/settings/asks/page.tsx
  app/[orgId]/settings/customer-requests/page.tsx
  app/[orgId]/settings/documents/page.tsx
  app/[orgId]/settings/emojis/page.tsx
  app/[orgId]/settings/initiatives/page.tsx
  app/[orgId]/settings/project-labels/page.tsx
  app/[orgId]/settings/project-templates/page.tsx
  app/[orgId]/settings/project-updates/page.tsx
  app/[orgId]/settings/pulse/page.tsx
  app/[orgId]/settings/releases/page.tsx
  app/[orgId]/settings/slas/page.tsx
  components/common/settings/placeholder-sections.ts
  components/common/settings/settings-placeholder.tsx
  components/layout/sidebar/nav-settings.tsx
  llms.txt
Labels: Docs, Components

add workspace initiatives (list with filters and breakdown panel, detail pages)
  app/[orgId]/initiative/[initiativeId]/page.tsx
  app/[orgId]/initiatives/page.tsx
  components/common/initiatives/initiative-details.tsx
  components/common/initiatives/initiative-progress-panel.tsx
  components/common/initiatives/initiative-status-icon.tsx
  components/common/initiatives/initiatives-side-panel.tsx
  components/common/initiatives/initiatives.tsx
  components/layout/headers/initiative/header.tsx
  components/layout/headers/initiatives/header.tsx
  mock-data/initiatives.ts
  mock-data/projects.ts
  store/initiatives-display-store.ts
  store/initiatives-filter-store.ts
Labels: Components

add saved views (issue and project views with insights panel)
  app/[orgId]/view/[viewId]/page.tsx
  app/[orgId]/views/page.tsx
  components/common/views/view-details.tsx
  components/common/views/views.tsx
  components/layout/headers/view/header.tsx
  components/layout/headers/views/header.tsx
  mock-data/views.ts
  store/views-display-store.ts
Labels: Components, Views

make the customize sidebar modal functional (badge style, item visibility)
  components/common/settings/preferences.tsx
  components/layout/sidebar/customize-sidebar-dialog.tsx
  components/layout/sidebar/nav-inbox.tsx
  components/layout/sidebar/nav-workspace.tsx
  store/sidebar-prefs-store.ts
Labels: Components

use real brand logos on integrations and connected accounts, update AI guides
  AI_GUIDE.md
  components/common/settings/account-connections.tsx
  components/common/settings/integration-logos.tsx
  components/common/settings/integrations.tsx
  llms.txt
Labels: Docs, Components

scope the team sidebar projects and views links to team pages
  app/[orgId]/team/[teamId]/projects/page.tsx
  app/[orgId]/team/[teamId]/views/page.tsx
  components/common/teams/team-projects.tsx
  components/common/views/views.tsx
  components/layout/headers/team-projects/header.tsx
  components/layout/headers/team-views/header.tsx
  components/layout/sidebar/nav-teams.tsx
  mock-data/views.ts
Labels: Components, Views

.github/labeler.yml:

# =====================
# üìç Scope Labels
# =====================

API:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/api/**'

Gateway:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/gateway/**'

Packages:
- changed-files:
  - any-glob-to-any-file:
    - 'packages/**'

Infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'infra/**'

Config:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.config.*'
    - '**/*.env'
    - 'apps/**/config/**'

Docs:
- changed-files:
  - any-glob-to-any-file:
    - 'docs/**'
    - '**/*.md'
    - 'README.md'

Tests:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.spec.ts'
    - '**/__tests__/**'

Dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'package.json'
    - 'yarn.lock'

# =====================
# üéØ Change Type Labels
# =====================

Feature:
- head-branch:
  - '^feat'
  - '.*feature.*'

Fix:
- head-branch:
  - '^fix'
  - '.*bug.*'

Refactor:
- head-branch:
  - '^refactor'
  - '.*refactor.*'

Chore:
- head-branch:
  - '^chore'
  - '.*chore.*'

# =====================
# üö® Risk / Deployment Labels
# =====================

Migration:
- changed-files:
  - any-glob-to-any-file:
    - '**/migrations/**'
    - '**/migrate.ts'
    - '**/*.migration.ts'

Event:
- changed-files:
  - any-glob-to-any-file:
    - '**/events/**'
    - '**/*.event.ts'

Scheduler:
- changed-files:
  - any-glob-to-any-file:
    - '**/schedulers/**'
    - '**/*.scheduler.ts'

Subscriber:
- changed-files:
  - any-glob-to-any-file:
    - '**/subscribers/**'
    - '**/*.subscriber.ts'

Schema:
- changed-files:
  - any-glob-to-any-file:
    - '**/schemas/**'
    - '**/*.schema.ts'

Security:
- changed-files:
  - any-glob-to-any-file:
    - '**/auth/**'
    - '**/guard/**'
    - '**/authz/**'

Breaking:
- changed-files:
  - any-glob-to-any-file:
    - 'BREAKING_CHANGE.md'
- head-branch:
  - '.*breaking.*'
  - '^breaking'

# =====================
# ‚≠ê Feature Labels
# =====================

CICD:
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'

Scripts:
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/**'

UI/UX:
- changed-files:
  - any-glob-to-any-file:
    - 'packages/ui/**'

Features:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/**'

Services:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/services/**'

GraphQL:
- changed-files:
  - any-glob-to-any-file:
    - '**/graphql/**'

Hooks:
- changed-files:
  - any-glob-to-any-file:
    - '**/hooks/**'

Components:
- changed-files:
  - any-glob-to-any-file:
    - '**/components/**'

Views:
- changed-files:
  - any-glob-to-any-file:
    - '**/views/**'

Stores:
- changed-files:
  - any-glob-to-any-file:
    - '**/stores/**'

Storybook:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.stories.ts'
    - '**/*.stories.tsx'

account:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/account/**'

buy-rates:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/buy-rates/**'

client-settlements:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/client-settlements/**'

export-matrix:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/export-matrix/**'

global-modal:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/global-modal/**'

integration:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/integration/**'

maintenance:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/maintenance/**'

manage-subscription:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/manage-subscription/**'

matrix:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/matrix/**'

sell-rates:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/sell-rates/**'

subscription:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/frontend/src/features/subscription/**'

# =====================
# üîÅ Git Flow Labels
# =====================

MergeBack:
- head-branch:
  - '^sync'
  - 'sync-.*'
  - 'merge-.*'

Release:
- base-branch:
  - '^master$'

WIP:
- head-branch:
  - '^wip'
  - '.*wip.*'

Beta:
- head-branch:
  - '.*-beta.*'

# =====================
# üß™ Catch-All
# =====================
